body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
}

html {
  overflow: hidden;
  height: 100%;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  // background: rgb(168, 164, 157);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(224, 214, 180);
  border-radius: 20px;
  // border: 1px solid orange;
}
