@import url('./fonts.scss');

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background: #fffbf2;
}

header {
  margin-bottom: 8px;
}

.codemirror-container {
  // padding-top: 24px;
  // padding-bottom: 24px;
  // width: 800px;
  // max-height: auto;
  // height: calc(100vh -48px);
  // height: auto;
  // margin: 0 auto;
  // overflow: auto;
  // min-height: 600px;
  // display: flex;
  // align-items: stretch;
  // justify-content: stretch;

  // .cmt-heading.cmt-meta {
  //   display: none;
  // }

  // .cmt-heading:not(.cmt-meta) {
  //   white-space: normal;
  // }

  // .cmt-heading-1 {
  //   margin-left: -20px;
  //   font-family: 'iAWriterDuospace-Regular';
  //   font-weight: 600;
  // }

  // .cmt-heading-2 {
  //   margin-left: -28px;
  //   font-family: 'iAWriterDuospace-Regular';
  //   font-weight: 600;
  // }

  .cm-wrap {
    // width: 100%;
    // width: 800px;
    // height: 100%;
    // overflow: none;
    overflow: auto;
    outline: none;
    // max-height: 100vh;
    margin: 0 auto;
  }
  .cm-scroller {
    // overflow: auto;
    // max-height: 100vh;
  }

  .cm-content {
    white-space: normal;
  }

  .cmt-fence {
    color: blue;
  }
}

// .codemirror-container > div {
//   height: 100%;
//   min-height: 600px;
//   width: 100%;
// }

.cm-gutter.xrx {
  width: 20px;
  background: rgb(194, 194, 194);
}
